# postgrest.conf for PostgREST 12.2.3
# documented at:
# https://docs.postgrest.org/en/stable/references/configuration.html#file-config

# must be edited prior to execution
db-uri = "postgres://authenticator:<password>@localhost:5432/postgres"
db-schemas = "mirante"
db-anon-role = "anonymous"
server-port = 3031

# must be edited prior to execution
# must be at least 32 characters long
# e.g. echo "$(< /dev/urandom tr -dc A-Za-z0-9 | head -c32)"
jwt-secret = "<secret>"
